extends layout

block content

  h1=title
  p (Click on Author name to see his/her books)
  ul
    each author in authors
      br
      li &emsp;
        a(href=author.url) #{author.name}
        |  #{"("+author.lifespan+")"}
    else
      li  There are no authors.