extends layout

block content

  h1=title
  p (Click on Genre name to see books)
  ul
    each genre in genres
      br
      li &emsp;
        a(href=genre.url) #{genre.name}
    else
      li  There are no genres.