doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport",content="width=device-width,initial-scale=1")
    link(rel="stylesheet", href="/stylesheets/home.css")
    title Home Page
  body
    div(id="main")
      h1 Welcome to the Library
      button(class="button")
        a(href="/catalog") Available books
      button(class="button")
        a(href="/users") Signup / Login
